{% extends "styled.html" %}

{% block content %}
<h1>{{ title }}</h1>

<p>You're using qutebrowser with the QtWebKit backend.</p>

<blockquote><i>WARNING:</i> This release [of QtWebKit] is based on [an] <i>old
WebKit revision</i> with known unpatched vulnerabilities. <i>Please use it
carefully and avoid visiting untrusted websites and using it for
transmission of sensitive data.</i></blockquote>

<p>If that bothers you, it is recommended that you use another web browser instead,
such as IceCat or Epiphany.</p>
{% endblock %}
